# annotated-types==0.7.0
# cachetools==6.2.4
# certifi==2025.11.12
# charset-normalizer==3.4.4
# click==8.3.1
# colorama==0.4.6
# distro==1.9.0
# fastapi==0.127.0
# filelock==3.20.1
# generativeai==0.0.1
# google==3.0.0
# google-api-core==2.28.1
# google-api-python-client==2.187.0
# google-auth==2.45.0
# google-genai==1.56.0
# grpcio==1.76.0
# idna==3.11
# packaging==25.0
# pyasn1==0.6.1
# pyasn1_modules==0.4.2
# pydantic==2.12.5
# pydantic_core==2.41.5
# pyparsing==3.3.1
# python-dateutil==2.9.0.post0
# python-dotenv==1.2.1
# PyYAML==6.0.3
# requests==2.32.5
# rsa==4.9.1
# six==1.17.0
# starlette==0.50.0
# typing-inspection==0.4.2
# typing_extensions==4.15.0
# urllib3==2.6.2
# uvicorn==0.40.0
# websockets==15.0.1

fastapi
uvicorn[standard]
python-dotenv

# WebSocket support
websockets

# Gemini (ONLY SDK YOU NEED)
google-genai

# HTTP client (ElevenLabs)
requests
